body {
  background-color: beige;
}

.first_div {
  border: 1px solid salmon;
  width: 80vw;
  height: 20vh;
  margin: 10px auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.second_div {
  border: 1px solid salmon;
  width: 80vw;
  min-height: 60vh;
  margin: 10px auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.first_div > button {
  height: 50%;
  width: 20%;
}
