.total {
  width: 80vw;
  height: 40vh;
  border: 2px solid lightcoral;
  margin: 100px auto;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  background-color: yellow;
  justify-content: space-around;
  align-items: center;
}

.addition,
.multiplication {
  width: 40%;
  height: 80%;
  background-color: darksalmon;
  border-radius: 20px;
}

.multiplication {
  background-color: chartreuse;
}
